<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.try_hit_brick"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.try_hit_brick.Logo"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:theme="@android:style/Theme.NoTitleBar"
            android:name="com.example.try_hit_brick.MainMenu" >
        </activity>
                <activity 
            android:theme="@android:style/Theme.NoTitleBar"
            android:name="com.example.try_hit_brick.About" >
        </activity>
                        <activity 
            android:theme="@android:style/Theme.NoTitleBar"
            android:name="com.example.try_hit_brick.Rank" >
        </activity>
        <activity android:name="com.example.try_hit_brick.GameMap" >
        </activity>
        <activity android:name="com.example.try_hit_brick.MainActivity" >
        </activity>
    </application>

</manifest>